* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #F3F4F6;
    background-image: url(resources/background-image.png);
    background-size: 100vw;
    background-repeat: no-repeat;
    color: #1D1D1F;
    font-family: 'Inter';
}
header{
    margin: 20px auto;
    text-align: center;
    color: #FFFFFF;
}


header h1{
    display: inline-block;
    margin: 10px;
    font-size: 1.5rem;
}
header p{
    display: inline-block; 
    padding: 10px;
    font-size: 0.8rem;
    font-weight: 400;
    background-color: #1D1D1F;
    border-radius: 20px;
    position: relative;
    top: -3px;

}

main{
    display: flex;

    justify-content: center;
    align-items: stretch;
    border-radius: 20px;
    width: 98%;
    max-width: 1500px;
    margin: auto;
    overflow: hidden;
}

#cart{
    padding: 32px;
    background-color: #E5E7EB;
    width: 50%;
    
}

.items-container{
    padding-bottom: 20px;
    border-bottom: 1px solid #D2D5DA;
}
.item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
}


.img-container{
    background-color: #F3F4F6;
    width: 100px;
    height: 100px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.img-container img {
    object-fit: cover;
}


.item-info{
    display: flex;
    justify-content: space-between;
    width: 70%;
}
.item-features{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.item-features p{
    color: #394150;
}

.item-pay{
    text-align: right;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-end;
}
.item-pay button{
    border: none;
    width: 50%;
    background-color: transparent;
}

.coupon-container{
    
    width: 100%;
    margin: 20px 5px;
    display: flex;
    justify-content: space-between;
}
.coupon-container input{
    padding: 20px;
    width: 70%;
    border-radius: 10px;
    border: 1px solid #D2D5DA;
    font-size: 1rem;
    font-weight: 500;

}
.coupon-container button{
    padding: 20px 10px ;
    background-color: #1D1D1F;
    border-radius: 10px;
    color: #FFFFFF;
    border: none;
    width: 25%;
    font-size: 1rem;
    font-weight: 500;
}

.price {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10px 0;
    font-size: 1rem;
    color: #394150;
}

.price p {
    width: 100%; 
    display: flex;
    justify-content: space-between; 
    font-size: 1rem;
    font-weight: 600;

}


.price-final{
    color: #1D1D1F;
}








.form-container {
    background-color: #FFFFFF;
    padding: 32px;
    width: 50%;
}
.form-container h3{
    font-size: 1rem;
    margin-bottom: 3rem;

}
.form-container form{
    width: 100%;
    font-size: 1rem;
    color: #394150;

}
form {
    margin-bottom: 20px;
}
form label{
    display: block;
    margin-bottom: 10px;
}

form input{
    display: block;
    margin-bottom: 20px;
    padding: 20px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #D2D5DA;
    background-color: #F3F4F6;
    font-size: 1rem;
}
.location{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
form select{
    display: block;
    margin-bottom: 20px;
    padding: 20px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #D2D5DA;
    background-color: #F3F4F6;
    font-size: 1rem;
    color: #394150;
    cursor: pointer;
}
.location div{
    width: 45%;
}
input[type="submit"]{
    background-color: #1D1D1F;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}



.author-info {
    font-size: 14px;
    text-align: center;
    margin-top: 16px;
    color: rgb(55, 65, 81);
}

.author-info a {
    text-decoration: none;
}


@media (max-width: 800px){
    main{
        flex-direction: column;
        align-items: center;
    }
    #cart{
        width: 100%;
    }
    .form-container{
        width: 100%;
    }
}
